:root {
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);

    --Light-slate-blue: hsl(252, 100%, 67%);
    --Light-royal-blue: hsl(241, 81%, 54%);
    --Violet-blue: hsla(256, 72%, 46%, 1);
    --Persian-blue: hsla(241, 72%, 46%, 0);

    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Hanken Grotesk", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Pale-blue);
}

.card {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 2rem;
    max-width: 650px;
    width: 100%;
    background-color: var(--White);
}

.result {
    /* width: 50%; */
    flex: 1;
    padding: 1.5rem 2rem;
    border-radius: 2rem;
    background: linear-gradient(to bottom, var(--Light-slate-blue),
            var(--Light-royal-blue));
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.result .title {
    color: var(--Light-lavender);
    margin-bottom: 1rem;
}

.result .circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(to bottom, var(--Violet-blue),
            var(--Persian-blue));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result b {
    color: white;
    font-size: 1rem;
    margin-top: 1rem;
}

.circle h1 {
    color: white;
    font-size: 4rem;
}

.circle p {
    color: var(--Light-lavender);
}

.info {
    font-size: 18px;
    color: var(--Light-lavender);
    text-align: center;
}

.summary {
    /* width: 50%; */
    flex: 1;
    padding: 1.5rem 2rem;
    background: linear-gradient(--White);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.summary .title {
    color: black;
    font-weight: 800;
}

.rows {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.row {
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.row:nth-child(1) {
    background-color: hsla(0, 100%, 67%, 20%);
}

.row:nth-child(1) .badge {
    color: var(--Light-red);
}

.row:nth-child(2) {
    background-color: hsla(39, 100%, 56%, 20%);
}

.row:nth-child(2) .badge {
    color: var(--Orangey-yellow);
}

.row:nth-child(3) {
    background-color: hsl(166, 100%, 37%, 20%);
}

.row:nth-child(3) .badge {
    color: var(--Green-teal);
}

.row:nth-child(4) {
    background-color: hsl(234, 85%, 45%, 20%);
}

.row:nth-child(4) .badge {
    color: var(--Cobalt-blue);
}

.badge {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.row p {
    color: gray;
}

.row p b {
    color: var(--Dark-gray-blue);
}

.btn {
    margin-top: auto;
    padding: 1rem;
    border: none;
    border-radius: 2rem;
    background-color: var(--Dark-gray-blue);
    cursor: pointer;
    font-size: 1rem;
    color: white;
}

.btn:hover {
    background: linear-gradient(to bottom, var(--Light-lavender),
            var(--Dark-gray-blue));
}


@media (max-width: 640px) {
    .card {
        flex-direction: column;
        max-width: 500px;
    }
    
}
